@use '../sass/utils' as *;
@use '../sass/components' as *;

body {
  font-family: var(--ff-primary);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.background-image-1 {
  background: url('../images/bg-pattern-top.svg') max(-100vw, -350px)
      max(-100vw, -500px),
    url('../images/bg-pattern-bottom.svg') min(50vw, 650px) max(10vw, 350px);
  background-repeat: no-repeat;
  background-size: min(165vw, 978px);
  background-color: var(--bg-primary-500);
}

.background-image-2 {
}
