@use '../utils' as *;

.profile {
  width: min(87vw, 21.875rem);
  border-radius: 15px;
  background-color: var(--bg-primary-100);
  position: relative;
  overflow: hidden;
  box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
  &__photo {
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--bg-primary-100);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  &__name {
    position: relative;
    padding-top: 4.5rem;
    padding-bottom: 1.75rem;
    border-bottom: 1px solid var(--border-primary-500);
  }
  &__stats {
    padding: 1.5rem 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $tablet-size) {
  .profile__stats {
    padding-inline: 3rem;
  }
}
